 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Open Sans', sans-serif;
 }

 header {
     height: 150px;
     display: flex;
     justify-content: end;
     align-items: center;

 }

 .container {
     max-width: 1600px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 /* header style */
 ul {
     list-style: none;
     display: flex;
     gap: 20px;
 }

 ul li {
     font-size: 15px;

 }


 li a {
     text-decoration: none;
     color: black
 }

 ul li:nth-child(2) {
     color: blue;
     border-bottom: solid 2px rgba(2, 130, 249, 255);
 }

 header img {
     width: 100px;
 }

 /* main style */

 .main-black {
     background-color: black;
     height: 150px;
     display: flex;
     align-items: center;
 }

 .main-blue {
     background-color: rgba(2, 130, 249, 255);
     ;
     height: 150px;
     display: flex;
     align-items: center;
 }

 h2 {
     color: white;
 }

 .main-list li a {
     margin: 20px;
     color: white;
 }

 li img {
     width: 50px;
 }

 .main-list {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
 }